.generator {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.genrator__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.cvForm {
  padding: 30px;
  width: 92%;
  margin: auto;
}

.form__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formTitle {
  border: none;
  font-size: 1.2rem;
  outline: none;
  text-align: center;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  position: relative;
  background: none;
}

.formTitle:focus-within {
  border: none;
}

.generator__right {
  position: fixed;
  right: 0;
  background: #656e83;
  width: 50%;
  height: 100%;
}
