.generator {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.genrator__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.cvForm {
  padding: 30px;
  width: 92%;
  margin: auto;
}

.form__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formTitle {
  border: none;
  font-size: 1.2rem;
  outline: none;
  text-align: center;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  position: relative;
  background: none;
}

.formTitle:focus-within {
  border: none;
}

.generator__right {
  position: fixed;
  right: 0;
  background: #656e83;
  width: 50%;
  height: 100%;
}

.w-70 {
    width: 80%;
    transform: translateX(10%);
}
.preview{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview__body{
    height: 80%;
    width: 55%;
    background: var(--gray-50);
    border-radius: 5px;
    overflow: scroll;
}

.adjustedBody {
    height: 90%;
    width: 70%;
    background: var(--gray-50);
    border-radius: 5px;
    overflow: scroll;
  }

.preview__panel{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 80%;
    transform: translateX(5%);
    padding: 10px;
}

.bg-black{
    background: var(--gray-900);
    border-radius: 14px;
    bottom: 10px;
}

.preview_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay__templates{
    position: fixed;
    width: 35%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    transition: all 400ms ease-in-out;
    overflow-y: scroll;

}

.templates__main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: auto;
}

.small__templaes{
    height: 250px;
    width: 100%;
    background: var(--gray-200);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.small__templaes:hover{
    transform: scale(1.05);
}


.fixed__icon{
    position: fixed;
    z-index: 1000;
    left: 10px;
    top: 10px;
}

.modal__text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 820px) {
    .generator__right{
        display: none;
    }

    .genrator__main{
        display: grid;
        grid-template-columns: repeat(1, 1FR);
    }
    .cvForm{
        width: 90%;
    }
}


@media screen and (max-width: 560px) {
    .cvForm{
        width: 90%;
        padding: 10px;
    }
}



