.hero{
    background-color: var(--blue-50);
    padding: 20px;
    height: 95vh;
    position: relative;
    margin-top: 80px;
}

.hero__main{
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.hero__subtitle{
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: bold;
    font-family: monospace;
}

.hero__title{
    font-size: clamp(1.3rem, 2.8vw, 2.6rem);
    font-weight: bold;
}
.hero__text{
    font-size: 1rem;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}

.resume__img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

.resume__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

@media screen and (max-width: 768px) {
    .hero__main{
        width: 90%;
    }
}