@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2")
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  src: local("Roboto"), local("Roboto-Regular"),
    url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2")
      format("woff2");
}
@page {
  size: A4;
}

.container {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 13.0736px;
  font-weight: 400;
  line-height: 1.5;
}




.heading {
  flex-direction: column;
  display: flex;
  position: relative;
  font-size: 16px;
  font-weight:700;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  word-wrap: break-all;
  flex-wrap: wrap;
  word-wrap: break-word;
  padding-top: 20px;
  z-index: 2;
  

  
}
.header .subHeading {
  color: var(--color);
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header .links {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
  align-items: center;
  justify-content: center;

}

.header .link {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  
}

.header .link svg {
  color: var(--color);
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.col1 {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
  word-wrap:break-word ;
}
.col2 {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
  text-align: center;
  word-wrap:break-word ;
}

.section .sectionTitle {
  display: flex;
  margin: 0 20px;
  font-size: 0.9rem;
  font-weight: bold;
  align-items: flex-start;
  width: 90%;
  text-transform: capitalize;
  border-bottom: 0.5px solid rgba(85, 85, 85, 0.2);
}

.section .content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
 

}

.section .content .item {
  border-bottom: 1px dotted lightgray;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 30px;
 

}
.section .content .item:last-child {
  border-bottom: none;
  
}

.content .title {
  font-weight: 550;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 5px 15px 0 10px;
  padding-right: 5%;
  gap: 4px;
  
 
}
.content .degree{
  font-weight: 550;
  font-size: 0.9rem;
  line-height: 1rem;
  padding-left: 5%;
  line-height: 1rem;
  margin: 5px 5px 0 15px;
  
}

.content .subTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.content .overview {
  font-size: 0.875rem;
  padding-top: 20px;
}

.content .link {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}


.content .date {
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 20px;
  
}
.content .description{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  font-size: 14px;
  font-weight:600;
  word-spacing: 1.5px;
  line-height: 1.4em;
  font-weight: 500;
  width: 90%;
  margin:0 0 0 15px;
  color: #555;
  padding: 1px;
  border-top: 0.5px dotted rgba(0, 0, 0, 0.047);
  border-bottom:  0.5px dotted rgba(0, 0, 0, 0.045);
}
.content .description li{
  list-style: none;
}
.content .label{
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: flex-start;

}
.labellink{
  font-size: 0.7rem;
  font-weight: 400;
}

.content .date svg {
  height: 16px;
  width: 16px;
}

.content .points,
.numbered {
  padding-left: 18px;
  font-size: 0.875rem;
}

.numbered li {
  list-style-type:disc;
}

.hidden {
  display: none;
}
.container{
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.241);
  font-size: 13.0736px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  
}
 .extrainfo small {
  color: #666;
  display: inline-block;
  font-size: 0.9rem;
}
.extrainfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  font-size: 0.9rem;;
  word-spacing: 5px;
  font-weight: 550;
  margin: 5px 0 0 15px;
}
.extrainfo small {
  color: #666;
  display: inline-block;
  font-size: 0.9rem
}
.extrainfo1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 10px;
  line-height: 14px;
  font-size: 0.9rem;
  font-weight: 550;
  margin: 5px 0 0 15px;
  word-spacing: 1.5px;
}
.icon{
  font-size: 0.9em;
  justify-content: space-around;
  margin-right: 8px;
}


