  .title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 20px 0;
    font-weight: 900;
  }
  
  .main__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  
  .personal {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .form__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: flex-end;
  }
  
  .full {
    width: 96%;
  }


  .grouped__accordion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
    transition: all 350ms ease-in-out;
    position: relative;
  }
  
  .deleteBtn {
    background: none;
    border: none;
    padding: 10px;
    color: var(--gray-600);
    font-size: 0.8rem;
    position: absolute;
    top: 10px;
    right: -50px;
    visibility: hidden;
    transition: all 250ms ease-in-out;
  }
  
  .deleteBtn:hover {
    color: var(--blue-500);
  }
  
  .p-tooltip {
    font-size: 0.6rem !important;
  }
  .grouped__accordion:hover .deleteBtn {
    visibility: visible;
  }
  
  .model__text {
    text-align: center;
  }
  
  .btn__group {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  
  .main__head{
      display: flex;
      flex-direction: column;
  }
  
  .headerTitle{
      font-size: 0.8rem;
      text-transform:capitalize;
  }
  
  .headerDate{
      font-weight: 500;
      padding-top: 4px;
      font-size: .7rem;
      color: var(--gray-600);
  }
  
  
  .grouped__accordion:hover .headerTitle{
      color: var(--blue-500);
  }

.colors{
    display: flex;
    align-items: center;
    gap: 10px
}

.btn__color{
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    transition: all 250ms ease-in-out;
}

.btn__color:hover::after{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    background: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.yellow{
    background: #fff66d;
}
.green{
    background: #4bfbba;
}
.blue{
    background: #9aebfe;
}
.gold{
    background: #fed78c;
}
.gray{
    background: #e4e4e4;
}


.file__upload {
    display: flex;
    align-items: center;
    gap: 10px;
  
  }
  .file__upload i {
    padding: 10px;
    background: rgb(239, 242, 249);
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
  
  .file__upload:hover {
    color: var(--blue-400);
  }
  
  @media screen and (max-width: 820px) {
    .p-dialog{
        width: 60% !important;
      }
  }


@media screen and (max-width: 560px) {
    .deleteBtn {
        position: absolute;
        top: 10px;
        right: -40px;
        visibility:visible;
      }
      .main__form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      .p-dialog{
        width: 90% !important;
      }
}
